# Python artifacts
/.venv

bin
eggs
.eggs
htmlcov
parts
*.egg-info
.DS_Store
develop-eggs
production.ini
*.pyc
.installed.cfg
.mr.developer.cfg
include/
lib/
local/
.installed.cfg
.mr.developer.cfg
*.log
development.ini
.plone.versioncheck.cache/
.plone.versioncheck.tracked.json
lib64

# Variable, checkout-local data
/var