[app:mr.roboto]
use = egg:mr.roboto

debug = True
api_key = trololo

mail.host = smtp.gmail.com
mail.port = 587
mail.tls = true
mail.username = X
mail.password = X

plone_versions = ['4.3', '5.0', '5.1']

sources_file = sources.pickle
checkouts_file = checkouts.pickle

roboto_url = http://localhost:6543/

github_user = X
github_password = X

collective_repos = collective.elephantvocabulary,icalendar,Products.DateRecurringIndex

pyramid.reload_templates = true
pyramid.debug_authorization = true
pyramid.debug_notfound = true
pyramid.debug_routematch = true
pyramid.debug_templates = true
pyramid.default_locale_name = en
pyramid.includes = pyramid_debugtoolbar


[composite:main]
use = egg:Paste#urlmap
/ = mr.roboto

[server:main]
use = egg:waitress#main
host = 0.0.0.0
port = 6543

# Begin logging configuration

[loggers]
keys = root, mr_roboto

[handlers]
keys = console

[formatters]
keys = generic

[logger_root]
level = INFO
handlers = console

[logger_mr_roboto]
level = DEBUG
handlers =
qualname = mr_roboto

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic

[formatter_generic]
format = %(asctime)s %(levelname)-5.5s [%(name)s][%(threadName)s] %(message)s

# End logging configuration
