[app:mr.roboto]
use = egg:mr.roboto

cookie.secret = seekrit

clau_compartida = seekrit

github_user = X
github_password = X

roboto_url = http://localhost:6543/
api_key = 
core_pulls_db = pulls.txt

mail.host = smtp.gmail.com
mail.port = X
mail.tls = true
mail.ssl = true
mail.username = X
mail.password = X

callback_url = http://localhost:6543

jenkins_url = http://jenkins.plone.org/
jenkins_username = user
jenkins_password = user

plone_versions = ['4.2', '4.3', '5.0', '5.1']

db_name = roboto

pyramid.reload_templates = true
pyramid.debug_authorization = false
pyramid.debug_notfound = false
pyramid.debug_routematch = false
pyramid.debug_templates = true
pyramid.default_locale_name = en
pyramid.includes = pyramid_debugtoolbar


[composite:main]
use = egg:Paste#urlmap
/ = mr.roboto

[server:main]
use = egg:waitress#main
host = 0.0.0.0
port = 6543

# Begin logging configuration

[loggers]
keys = root, mr_roboto

[handlers]
keys = console

[formatters]
keys = generic

[logger_root]
level = INFO
handlers = console

[logger_mr_roboto]
level = DEBUG
handlers =
qualname = mr_roboto

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic

[formatter_generic]
format = %(asctime)s %(levelname)-5.5s [%(name)s][%(threadName)s] %(message)s

# End logging configuration
