# mr.roboto requirements
# keep it sync with src/mr.roboto/setup.py
cornice
gitpython
PyGithub
plone.releaser
pyramid_chameleon
requests
unidiff
# deployment requirements
Paste
pip-tools
supervisor
waitress
